<!DOCTYPE html>
<html>
  <head>
    <title>TwitterProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <!-- app/views/layouts/application.html.erb -->
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Home", root_path, class: "navbar-brand" %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Compose New Tweet", new_tweet_path %></li>
          <li><%link_to "All Users", all_users_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% if current_user.avatar.blank? == false %>
                  <%= image_tag current_user.avatar.url, size:25, class: "user-pic-nav" %>
                <% end %> 
                @<%= current_user.username %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              </ul>
             </li>
            <% end %>
           </ul>
         </div>
       </div>
       </nav>


    <div class="row">
    <div class="col-lg-3">
  
      <div class="well">
        <div class="user-stats">
          <% if user_signed_in? %>
          <%= image_tag current_user.avatar.url, class: "show-pic" %>
          <h5><%= link_to current_user.username, show_user_path(id: current_user.id) %></h5>
          <p>Name: <%= link_to current_user.name, show_user_path(id: current_user.id) %></p>
          <p>Home: <%= current_user.location %></p>
          <p>About: <%= current_user.bio %></p>
          <p>Following: <%= link_to current_user.following.count, following_path(id: current_user.id) %> | Followers: <%= link_to get_followers(current_user.id), followers_path(id: current_user.id) %></p>

          <% else %>
          <h5>Sign in to be a part of the conversation!</h5>
          <% end %>
        </div>
      </div>

    </div>

    <div class="col-lg-6 well"> 
      <%= yield %>
    </div>

    <div class="row">
    <div class="col-lg-3">
    
      <div class="well">
        <p>This is where what's trending go</p>
      
     </div>
    </div>
  </div>
    <!-- <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
           <div class="col-xs-3">
               <p>Stats</p>
           </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
           <div class="col-xs-6"> 
               <p>Feed</p>
           </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
           <div class="col-xs-3">
               <p>Trending</p>
           </div>
          </div>
        </div>
      </div>
        
   

          
        </div>
      </div>
    </div> -->

  </body>
</html>
